.appCard {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25%;
}
label{
    color:tomato;
    font-size: 13px;
    border-bottom: 0.5px solid tomato;
    margin: 3px 0;

}
.appDescription{
    font-size: 14px;
    
}
.appStar{
    color: gold;
}
.appPlaceName{

}
.appRatings{

}
.appUsername{
    font-size: 14px;

}
.appDate{
    font-size: 12px;

}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, textarea {
    border: none;
    border-bottom: 1px solid grey;
}

input::placeholder, textarea::placeholder{
    font-size: 12px;
    color: grey;
}

.appSubmitButton{
    border: none;
    padding: 5px;
    border-radius: 50px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}